<div class="heading">

<img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBa4NEMfug7H33-BiC6SXULqxCtVxupGN0E2WTzvQnYsPbxgIH" class="myImage">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1>Welcome to QUCLICK</h1>
<h3>회원님만의 특별한 예약시스템! QUCLICK</h3>
<br>
<br>
<h3>저희 QUCLICK은 선별된 맛집들을 추천하여 예약 서비스를 제공합니다!</h3>
<h3>각 맛집별 리뷰를 비교해 최고의 맛집을 보다 빠르게 예약 가능합니다. </h3>
<br>
<h3>현재, 웹서비스는 관리자용 서비스로 앱에서 이용가능합니다.</h3>
<h3>지금 바로 <a href="https://play.google.com/">Google Playstore</a>에서 "QUCLICK" 검색하세요!</h3>
</div>