<div class="jumbotron text-center">
  <h1><b>Welcome to Quiclick!</b></h1>
  <img width="300" src="https://img.lovepik.com/element/40053/2679.png_1200.png">
  <div class="row">
      <div class="col-md-4">
        <h2>COMPANY INFO</h2>
        <h3>company:(주)quiclick</h3>
        <h3>Email:BSJ@hansung.ac.kr</h3>
        <h3>TEL:1234-5678</h3>
      </div>
      <div class="col-md-4">
        <h2>QUICLICK</h2>
        <h3>We offer you the best restaurant reservation service :)</h3>
        <h3>We will always strive for better service.</h3>
      </div>
      <div class="col-md-4">
        <h2>App</h2>
        <h3>Quiclick App</h3><img width="30" src="https://img.lovepik.com/element/40053/2679.png_1200.png">
      </div>
    </div>
</div>
