<div class="jumbotron text-center">
  <h1><b>Welcome to Quiclick!</b></h1>
  <img width="300" src="https://img.lovepik.com/element/40053/2679.png_1200.png">
  <div class="row">
      <div class="col-md-4">
        <h5>COMPANY INFO</h5>
        <p>company:(주)quiclick</p>
        <P>Email:BSJ@hansung.ac.kr</P>
        <p>TEL:1234-5678</p>
      </div>
      <div class="col-md-4">
        <h5>QUICLICK</h5>
        <p>We offer you the best restaurant reservation service :)</p>
        <p>We will always strive for better service.</p>
      </div>
      <div class="col-md-4">
        <h5>App</h5>
        <p>Quiclick App</p><img width="30" src="https://img.lovepik.com/element/40053/2679.png_1200.png">
      </div>
    </div>
</div>
