table {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: left;
  padding: 8px;
  font-size:15px;
  color: rgb(70, 69, 69);

}
.bg1 { background-color: rgb(255, 248, 232);  }
.bg2 { background-color:#FFFFFF; }



h2{
text-align: center;
}