.stores .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 1.6em 1.4m 0 1.4em;
    background-color: #f5d3d8;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 3.6em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  .stores {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 25em;
  }
  .stores li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: rgb(237, 222, 243);
    margin: .5em;
    padding: .3em 0;
    height: 3.6em;
    border-radius: 4px;
  }
  .stores li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .stores li:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(199, 230, 207);
    left: .1em;
  }
  .stores .text {
    position: relative;
    top: -3px;
  }
  