table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;

}
.bg1 { background-color: rgb(255, 248, 232);  }
.bg2 { background-color:#FFFFFF; }


th {
  color: rgb(70, 69, 69);
  font-size:15px
 
}
h2{
text-align: center;
}