<nav class="navbar navbar-expand-md navbar-light bg-default">
    
    <button class="navbar-toggler " type="button"data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon caret"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarsExample04">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >
              <a class="nav-link" [routerLink]="['/']">QUICLICK<img src="https://cdn.pixabay.com/photo/2016/03/31/23/57/cursor-1297941_1280.png" style="width:30px"></a>
          </li>
        <!-- <li class="nav-item active" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >
          <a class="nav-link" [routerLink]="['/']" >Home</a>
        </li> -->
      </ul>
      <ul class="navbar-nav navbar-right" >
          <li *ngIf="authService.loggedIn() && !authService.loggedUser()" class="nav-item" [routerLinkActive]="['active']" >
              <a class="nav-link" [routerLink]="['/adminmain']"><span class="glyphicon glyphicon-home"></span> About</a>
          </li>
          <li *ngIf="authService.loggedIn()&& !authService.loggedUser()" class="nav-item dropdown"[routerLinkActive]="['active']" >
              <a class="nav-link dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> Management</a>
            <ul class="dropdown-menu">
              <li class="dropdown-item" [routerLink]="['/review']">Review</li>
              <li class="dropdown-item" [routerLink]="['/addstore']">Addstore</li>
              <li class="dropdown-item" [routerLink]="['/storelist']">Storelist</li>
              <li class="dropdown-item" [routerLink]="['/profile']">Userlist</li>
            </ul>
          </li>
          <li *ngIf="authService.loggedUser()" class="nav-item" [routerLinkActive]="['active']" >
            <a class="nav-link" id="mini" [routerLink]="['/usermain']">User</a>
        </li>
            <li *ngIf="!authService.loggedIn() && !authService.loggedUser() " class="nav-item" [routerLinkActive]="['active']">
              <a class="nav-link"  [routerLink]="['/register']"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
            </li>
            <li *ngIf="!authService.loggedIn() && !authService.loggedUser()" class="nav-item" [routerLinkActive]="['active']" >
              <a class="nav-link" [routerLink]="['/login']"><span class="glyphicon glyphicon-log-in"></span> Login</a>
            </li>
          
            <li class="nav-item">
              <a class="nav-link" (click)="onLogoutClick()" href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
            </li>
      </ul>
    </div>
</nav>
