<div class="container">
    <h2 class="page-header"> AddStores </h2>
    <form (submit)="onAddStoreSubmit()">
  <table class="table table-bordered">
            <tr>
                <th>NAME </th>
                <td><input type="text" [(ngModel)]="name" name="name" class="form-control" placeholder="Name"></td>
            </tr>
            <tr>
                <th>MENU1</th>
                <td><input type="text" [(ngModel)]="des1" name="des1"  class="form-control" placeholder="Menu1"></td>
            </tr>
            <tr>
                <th>MENU2 </th>
                <td><input type="text" [(ngModel)]="des2" name="des2"  class="form-control" placeholder="Menu2"></td>
            </tr>
            <tr>
                <th>MENU3 </th>
                <td><input type="text" [(ngModel)]="des3" name="des3"  class="form-control" placeholder="Menu3"></td>
            </tr>
            <tr>
                <th>CALL </th>
                <td><input type="text" [(ngModel)]="call" name="call" class="form-control" placeholder="PhoneNumber"></td>
            </tr>
            <tr>
                <th>ADDRESS </th>
                <td><input type="text" [(ngModel)]="add" name="add" class="form-control" placeholder="Address"></td>
            </tr>
            <tr>
                <th>PICTURE </th>
                <td><input type="text" [(ngModel)]="pic" name="pic" class="form-control" placeholder="Picture"></td>
            </tr>
            <tr>
                <th>COUNT </th>
                <td><input type="text" [(ngModel)]="count" name="count" class="form-control" placeholder="Count"></td>
            </tr>
              
            </table>
                      <input type="submit" class="btn btn-primary" value="Submit">
  </form>
  </div>