<form (submit)="deletereviews()">
<table class="table table-striped">
  <thead>
      <tr>
        <th style="text-align: center" width="15%">No</th>
        <th style="text-align: center" width="25%">음식점</th>
        <th style="text-align: center" width="60%">내용</th>
        <th style="text-align: center" width="10%">삭제</th>
      
      </tr>
    </thead>
    <tbody>
     <tr class="reviews" *ngFor="let review of reviews; let i =index">
        <th style="text-align: center" width="15%"> 
          <span class="badge">{{i+1}}</span></th>
        <th style="text-align: center" width="25%">{{review.name}}</th>
        <th style="text-align: center" width="60%">{{review.des}}</th>
        <th style="text-align: center" width="10%"><button type="submit" span class="glyphicon glyphicon-trash"></button> </th>
      </tr>
    </tbody>
</table>


   &nbsp; <a class="btn btn-secondary">edit</a>
    </form>
    
    
     
      