<table class="table table-striped">
    <colgroup>
      <col class="num"/>
      <col class="title"/>
      <col class="writer"/>
      <col class="date"/>
    </colgroup>
    <thead>
      <tr>
        <th style="text-align: center" width="10%">번호</th>
        <th style="text-align: center" width="60%">제목</th>
        <th style="text-align: center" width="20%">작성자</th>
        <th style="text-align: center" width="10%">날짜</th>
      
      </tr>
    </thead>
    </table>
    <a class="btn btn-secondary">edit</a>&nbsp;
    <a class="btn btn-secondary">delete</a>
      